@charset "UTF-8";

.signup-header {
  margin: 90px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-header__title {
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: 600;
}

#signup-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px 60px 30px;
}

#signup-form input {
  border: 1px solid #e0e1e1;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 25px;
}

#signup-form input[type="date"] {
  padding: 15px 15px;
}

#signup-form select {
  border: 1px solid #e0e1e1;
  padding: 15px 10px;
  font-size: 18px;
  margin-bottom: 25px;
}

#signup-form select:focus {
  border-color: var(--yellow);
}

#signup-form input::placeholder {
  text-align: right;
  padding: 0px 20px;
  color: rgba(0, 0, 0, 0.7);
}

#signup-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.1s ease-in-out;
}

#signup-form input:focus {
  border-color: var(--yellow);
}

#signup-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}

#signup-form a {
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  transition: text-decoration 1s ease-in-out, color ease-in-out;
  cursor: pointer;
}

#signup-form a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.8);
}

label {
  display:flex;
  justify-content: space-between;
  align-items : center;
  margin: 10px 0px;
}

.green-text {
	color:green;
}

.red-text {
	color:red;
}

.pw-red-text {
	color:red;
}

.hidden {
  display:none;
}